<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>😎 • !!!CHANGE ME!!!</title>

    <link rel="stylesheet" href="../../assets/styles.css">
    <link rel="stylesheet" href="../assets/project.css">
    <link rel="stylesheet" href="../assets/game-runner.css">

    <style>body {background-image: linear-gradient(to bottom, #2C3D55, #84828F);}</style>
    <link href="css font" rel="stylesheet">
</head>
<body>
    <div class="title-bar" style="background-color: rgb(0, 0, 0); font-family: 'Font Name', sans-serif;">
        <img src="logo.png" style="width: 70px; height: 70px;"><span style="font-size: 250%;">Project Name</span>
    </div>
    <hr>
    <h2><a href="../../../#projects" id="backButton">Back &nbsp;&nbsp;←</a></h2>

    <h2>General Information:</h2>
    <div class="project-info">
        🧬 Type: Game Development Tool<br>
        📅 Dates: Sep 2024 → Dec 2024<br>
        💼 Contributers: Yoav TC<br>
        📂 Source Files: <a href="https://github.com/YoavTC/website-2.0">github.com/YoavTC/website-2.0</a><br>
        🔗 Download Link: <a href="https://yoavtc.work">yoavtc.work</a>
    </div>

    <h2>About:</h2>
    <p>
        1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed hendrerit elit. Morbi eget rhoncus erat.
        In quis nisl eu tellus facilisis aliquet. Sed id lacinia nunc. Mauris risus enim, tempor sed eros a, euismod viverra leo. Vivamus nec aliquam enim. Curabitur pretium erat sit amet arcu commodo tristique. Pellentesque porta velit a velit posuere, eget commodo dolor consectetur.
        Proin eu libero ex. Proin sed diam elit. Nulla facilisi. Pellentesque vitae diam vel arcu porttitor cursus sit amet id lacus. Suspendisse potenti. Mauris at leo quis lorem vestibulum viverra quis ac metus. Duis mattis risus nulla, eget pellentesque nunc accumsan et. Nullam ac consequat lorem.
    </p>
    <p>
        1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed hendrerit elit. Morbi eget rhoncus erat.
        In quis nisl eu tellus facilisis aliquet. Sed id lacinia nunc. Mauris risus enim, tempor sed eros a, euismod viverra leo. Vivamus nec aliquam enim. Curabitur pretium erat sit amet arcu commodo tristique. Pellentesque porta velit a velit posuere, eget commodo dolor consectetur.
        Proin eu libero ex. Proin sed diam elit. Nulla facilisi. Pellentesque vitae diam vel arcu porttitor cursus sit amet id lacus. Suspendisse potenti. Mauris at leo quis lorem vestibulum viverra quis ac metus. Duis mattis risus nulla, eget pellentesque nunc accumsan et. Nullam ac consequat lorem.
    </p>

    <span style="display: flex;">
        <h2>Play The Game:</h2>
        <button style="margin-top: 20px; margin-left: 600px;" onclick="window.open('fullscreen-game.html')" id="fullscreen-button" type="button">Play Fullscreen 📺</button>
        <button style="margin-top: 20px; margin-left: -320px;" onclick="window.open('https://yoav-tc.itch.io/chef-shooter')" id="fullscreen-button" type="button">Donwload ⬇️</button>
    </span>
    
    <!-- Game container -->
    <div class="game-container">
        <button id="start-button" type="button"></button>
        <img src="inactive.png" class="inactive-game-img">
        <canvas id="unity-canvas"></canvas>

        <!-- 
            Newer Unity Engine builds, value = "Builds"
            Older Unity Engine builds, value = "Web"
        -->
        <div id="build-files-path-prefix" value="Builds"></div>
    </div>
    <!-- Game container -->

    <hr>

    <h2>Media:</h2>
    <div class="image-grid">
        <img src="imgs/16x9.png">
        <img src="imgs/16x9.png">
        <img src="imgs/1x1.png">
        <img src="imgs/1x1.png">
    </div>

    <hr>

    <h2>Social Media:</h2>
    <div class="image-grid">
        <iframe width="100%" height="400px" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  
        <iframe width="100%" height="400px" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
        <iframe width="100%" height="400px" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  
    </div>
    
    <!-- Linkedin embeds -->
    <iframe src="" height="900" width="500" frameborder="0" allowfullscreen=""></iframe>

    <iframe src="" height="900" width="500" frameborder="0" allowfullscreen=""></iframe>

    <!-- Make all <a> elements open a new tab upon trigger -->
    <script>document.querySelectorAll('a').forEach(link => {if (link.id !== 'backButton') {link.target = '_blank';link.rel = 'noopener noreferrer';}});</script>
    <script src="../assets/game-runner.js"></script>
</body>
</html>