/* Fonts */
@font-face {
    font-family: TitleFont;
    src: url('../../JetbrainsMonoRegular.ttf');
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #e1e1e1;
    margin: 5%;
    margin-top: 0%;
    padding: 2%;
    background: linear-gradient(to bottom, #2C3D55, #84828F);
    background-size: cover;
    line-height: 1.6;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: TitleFont;
    margin-top: 1.5em;
    color: #ffef0a;
}

h1 a#backButton {
    color: black;
    text-decoration: none;
    background-color: #ffef0a;
    padding: 8px 15px;
    border-radius: 5px;
}

h1 a#backButton:hover {
    background-color: #00349e;
    color: white;
}

/* Post Title */
.post-title {
    background-color: #ffef0a;
    color: black;
    padding: 5px 15px; /* Reduced padding */
    text-align: center;
    border-radius: 5px;
    display: inline-block; /* Keeps the background just around the text */
}

#project-info {
    background-color: red;
}


/* Paragraphs */
p {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 1% 0;
}

p b {
   font-weight: bolder; 
}

/* Links */
a {
    color: #0074D9;
    text-decoration: none;
    border-bottom: 2px solid #0074D9;
}

a:hover {
    color: #0058A1;
    border-bottom-color: #0058A1;
}

/* Cover Section */
#cover {
    position: relative;
    margin-bottom: 2em;
}

#cover h1 {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    color: #2C3D55;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#cover img {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto; /* Center the image */
    border-radius: 5px;
}


/* Code Block */
pre {
    background: #2b2b2b;
    color: #f8f8f2;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
}

/* Image Grid */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
}

.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.image-grid img:hover {
    transform: scale(1.05);
}

/* YouTube Embed */
.embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: 1em;
}

.embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}