@font-face {
    font-family: JetBrains;
    src: url('JetbrainsMonoRegular.ttf');
}

body {
    font-family: JetBrains;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 2.5%;
    white-space: nowrap;
}

h2 {
    width: fit-content;
}

.linkOption {
    color: black;
    user-select: none;
    margin: 1%;
    margin-right: 100%;
    background-color: red;
    text-transform: uppercase;
}

.linkOption .highlight{
    color: black;
    background-color: rgb(246, 227, 8);
    user-select: none;
    margin: 1%;
    margin-right: 100%;
    text-transform: uppercase;
}

.linkOption:hover .highlight {
    color: white;
    background-color: #00349e;
}

#backButton {
    color: black;
    background-color: rgb(246, 227, 8);
}

#backButton:hover {
    color: white;
    background-color: #00349e;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

a:hover, a:visited:hover {
    color: white;
}

a:hover, a:visited:hover {
    color: white;
}

h3 {
    color: rgba(255, 255, 255, 0.5);
}

#highlightText {
    color: black;
    background-color: rgb(246, 227, 8);
}

hr {
    opacity: 50%;
}