.about {
    width: auto;
    display: flex;
}

.about_text {
    height: auto;
    width: 190%;
}

.about_text p {
    word-break: break-all;
    white-space: normal;
}

.about_image img {
    /* margin: 0; */
    /* top: 0; */
    
    padding-left: 50px;

    height: auto;
    width: 80%;
}

.about hr {
    margin-right: 5%;
}