:root {
    --background: #1a1a1a;
    --backgroundLight: #2a2a2a;
    --yellow: #f6e308;
    --blue: #00349e;
    --gray: #ffffff80;
    --white: #f3edde;
}

@font-face {
    font-family: JetBrains;
    src: url('JetbrainsMonoRegular.ttf');
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: JetBrains;
    background-color: var(--background);
    color: var(--white);
    margin: 2.5%;
    white-space: nowrap;
    user-select: var(--background);
}

::selection {
    background-color: #00349e;
}

h2, h1 {
    width: fit-content;
    letter-spacing: 0px;
}

/* Misc */
.note {
    color: var(--gray);
}

.highlight{
    color: var(--background);
    background-color: var(--yellow);
}

.highlight::selection {
    background-color: var(--blue);
    color: var(--white);
}

.title {
    user-select: none;
}

.title::before {
    content: "//";
}

/* Links */
.linkOption a, .linkOption a:visited {
    text-transform: uppercase;
    background-color: var(--background);
    color: var(--white);
    user-select: none;
}

.linkOption a:hover, .linkOption a:visited:hover{
    background-color: var(--blue)
}

.linkOption a:hover:before{
    content: "▸";
}

a, a:visited, a:hover, a:visited:hover, a:visited {
    text-decoration: none;
    font-weight: normal;
}

/* Back button */
#backButton {
    color: var(--background);
    background-color: var(--yellow);
    text-shadow: 0px 0px 0px transparent;
    text-decoration: none;
}

#backButton:hover {
    color: var(--white);
    background-color: var(--blue);
    text-decoration: none;
}